.introduction {

    min-height: 70vh;
    background-color: #010F3F;
    /* overflow: hidden; */
}



.p-style {
    font-size: 3vw;
    letter-spacing: 5px;



}
.text2:hover{
    background-color: rgb(247, 183, 105);
    border-radius: 10px;
}

/* .style {
    position: absolute;
    width: 100%;
    left: 15%;
} */
.courses img{
    height: 250px;
    border-radius: 10px;
}
.categories img{
    height: 250px;
    width: 275px;
}
.instructors img{
    height: 250px;
    width: 270px;
}