.introduction {

    min-height: 70vh;
    background-color: #010F3F;
    /* overflow: hidden; */
}



.p-style {
    font-size: 3vw;
    letter-spacing: 5px;



}
.text2:hover{
    background-color: rgb(247, 183, 105);
    border-radius: 10px;
}

/* .style {
    position: absolute;
    width: 100%;
    left: 15%;
} */
.courses img{
    height: 250px;
    /* width: 260px; */
    border-radius: 30px;
    padding: 15px;
}
.categories img{
    width: 66px;
    height: 85px;
    
}
.instructors img{
    height: 300px;
    /* width: 260px; */
    border-radius: 30px;
    padding: 15px;
}
.categories img:hover
{
    transform: scale(1.05);
   
}
footer
{
    background-color:  #282531;
    color: white;
    
}